.btn {
  padding: 15px 45px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.6px;
  display: inline-block;
  border-radius: 50px;
  &:hover { cursor: pointer; }
  &.btn--brand {
    background-color: #5666CC;
    color: white;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: lighten(#5666CC, 3);
    }
  }
  &.btn--cta {
    background: #FF4B57;
    color: #fafafa;
  }
  &.btn--gray {
    background: #efeff6;
  }
  &.btn--white {
    background: #fafafa;
    color: #333333;
  }
  &.btn--small {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.input, input, select, textarea {
  /*width: 100%;*/
  padding: 10px 20px;
  background: none;
  color: #333333;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #f1f1f1;
  /*max-width: 100%;*/
  /*&::placeholder {
    color: #333333;
  }*/
  &:focus {
    border-color: darken($du-yellow, 10);
    outline: none;
  }
  &.error {
    border-color: #FF4B57;
  }
  background: transparent;
  -webkit-appearance: none;
}

.input-loading {
  background-image: url('/assets/img/loading.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  margin-top: -62px;
}

.form {
  .form--row {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 40px 0;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
  }
  .form--lhs {
    width: 25%;
    .form--label {
      text-transform: uppercase;
      font-weight: 500;
      color: #999;
      font-size: 13px;
    }
  }
  .form--rhs {
    width: 75%;
  }
}
